// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// 左侧导航栏颜色

// 白色模式
$menuText: #8998AC;
$menuActiveText:#409EFF;
$subMenuActiveText: #3B4859;

$menuBg:#fff;
$menuHover:#F5F8FC;

$subMenuBg: #F5F8FC;
$subMenuHover: #F0F3F7;

// 黑暗模式
//$menuText: #8998AC;
//$menuActiveText:#478AC3;
//$subMenuActiveText: #dbdbdb;
//
//$menuBg:#22252a;
//$menuHover:#292C32;
//
//$subMenuBg: #34373D;
//$subMenuHover: #292C32;
//
$sideBarWidth: 200px;


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
